.nav-links {
    display: none;
}

.star {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star::after,
.star::before {
    content: '';
    position: relative;
    margin: 10px;
    height: 5px;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
}